/* ---------------------------- GLOBAL ----------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;
    background-color: #333303;
    color: white;
    padding: 13px 30px;
    border: 0;
    border-radius: 20px;
    font-size: 1.01rem;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/* ---------------------------- HEADER ----------------------------- */

header {
    background-color: #CfCfC4;
    color: #000000;
    padding: 20px 50px;
    box-shadow: 0px 0px 2px 4px #bcbcba;

    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo h1 {
    width: 18ch;
    font-family: "Julius Sans One", Montserrat, Helvetica, sans-serif;
    font-size: 2.3rem;
    line-height: 1.15;
    margin: 0;
}

.logo img {
    width: 100px;
    height: auto;
}

/* ----------------------------- MAIN ------------------------------ */

main {
    margin: 50px 0 0 0;
    padding: 0 400px;
}

.library-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.library-header h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 2rem;
    font-weight: 400;
    justify-self: center;
}

.library-header button {
    justify-self: right;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.card {
    background-color: #f5f5f3;
    box-shadow: 3px 4px 3px 0px #bcbcba;
    border-radius: 20px;
    padding: 25px 30px;
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.card h3 {
    font-size: 1.7rem;
    margin: 0;
}

.card h4 {
    font-size: 1.4rem;
    margin: 0;
}

.card p {
    font-size: 1.2rem;
    margin: 0;
}

.card button {
    width: 100%;
}

.read {
    color: #333303;
    background-color: #77DD77;
}

.not-read {
    background-color: #FF6961;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    width: 300px;
    max-width: 80%;
    padding: 20px 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.modal-body {
    width: 100%;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.modal input {
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
}

.has-read-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.modal button {
    border-radius: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ---------------------------- FOOTER ----------------------------- */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
    height: auto;
}